@import "common";
@import "variables";

footer {
  &:extend(.setToZero);
  width: 100%;
  padding: 5em 0 0.3em 0;
  text-align: center;
  background-color: black;

  & a {
    .roboto;
    color: white;
    text-decoration: none;
    font-size: 0.8em;
    font-weight: 100;
  }
}
