@import "fonts.less";
@import "variables";

.roboto {
  font-family: 'Roboto', sans-serif;
}

.setToZero {
  margin: 0;
  padding: 0;
  border: 0;
}

.block-border-box {
  display: block;
  box-sizing: border-box;
}

.margin-left-right-auto {
  margin-left: auto;
  margin-right: auto;
}

body {
  &:extend(.setToZero);
  width: 100%;
  background-color: white;
  @media screen {
    @media (min-width: @triggerMargins) {
      .margin-left-right-auto;
      width: 80%;
    }
  }

  & header {
    &:extend(.setToZero);
    &:extend(.block-border-box);
    .margin-left-right-auto;
    width: 100%;
    background-color: @color500;

    & h1 {
      &:extend(.setToZero);
      &:extend(.block-border-box);
      .roboto;
      color: white;
      width: 100%;
      font-size: 3rem;
      font-weight: 700;
      font-style: normal;
      letter-spacing: 0.1em;
      padding: 1.2em 0.5em 0.7em 0.5em;
      text-transform: uppercase;

      @media screen {
        @media (max-width: @widthTriggerMedium) {
          text-align: center;
        }
      }

      & span {
        font-size: 1.3rem;
        font-weight: 300;
        font-style: italic;
        text-transform: none;
        letter-spacing: normal;

        @media screen {
          @media (max-width: @widthTriggerMedium) {
            display: none;
          }
        }
      }
    }
  }

  & nav {
    background-color: @color800;
    &:extend(.setToZero);
    &:extend(.block-border-box);
    & ul {
      &:extend(.setToZero);
      &:extend(.block-border-box);
      list-style: none;
      width: 100%;
      overflow: hidden;

      & li {
        &:extend(.setToZero);
        &:extend(.block-border-box);
        .roboto;
        color: #F1F8E9;
        text-transform: uppercase;
        padding: 1.5em 2em 1.5em 2em;
        font-weight: 500;
        font-size: 0.85em;
        float: left;

        @media screen {
          @media (max-width: @widthTriggerSmall) {
            padding: 1.5em 1em 1.5em 1em;
          }
        }

        &.selected {
          color: @colorA700;
          border-bottom: 6px solid @colorA700;
        }

        &:hover {
          background-color: @color100;
          color: @color800;
        }
      }

      &::after {
        clear: both;
      }
    }
  }

  & main {
    &:extend(.setToZero);
    &:extend(.block-border-box);
    width: 100%;

    & .faxes-content {
      &:extend(.setToZero);
      box-sizing: border-box;
      display: block;
      overflow: hidden;
      width: 100%;

      @media screen {
        @media (min-width: @triggerSideMenu) {
          display: table-row;
        }
      }

      & .menu-months {
        .setToZero;
        box-sizing: border-box;
        display:block;
        width: 100%;
        background-color: @color700;

        @media screen {
          @media (min-width: @triggerSideMenu) {
            width: @menu-width;
            float: none;
            display: table-cell;
            vertical-align: top;
          }
        }

        & .date-selector, & .category-selector {
          &:extend(.setToZero);
          &:extend(.block-border-box);
          width: 85%;
          .margin-left-right-auto;
          margin-top: 0.6em;
          display: none;

          @media screen {
            @media (min-width: @triggerSideMenu) {
              display: block;
            }
          }

          & button {
            &:extend(.setToZero);
            &:extend(.block-border-box);
            .roboto;
            text-align: center;
            text-decoration: underline;
            width: 100%;
            background-color: @color100;
            color: @color900;
            font-size: 1em;
            text-transform: uppercase;
            font-weight: 900;
            padding: 1em;

            &:nth-of-type(1) {
              margin-bottom: 0.6em;
            }
          }

          & ul {
            &:extend(.setToZero);
            &:extend(.block-border-box);
            list-style: none;
            width: 100%;
            padding-bottom: 0.5em;

            & li {
              &:extend(.setToZero);
              &:extend(.block-border-box);
              width: 100%;

              & a {
                &:extend(.setToZero);
                &:extend(.block-border-box);
                .roboto;
                color: @color900;
                background-color: @color200;
                text-align: left;
                text-decoration: none;
                padding: 1.2em;
                width: 100%;

                &::before {
                  content: '>>>';
                  padding: 0 0.3em;
                }

                &:hover {
                  color: @color200;
                  background-color: @color900;
                }
              }
            }
          }
        }

        & .show-menu {
          &:extend(.block-border-box);
          &:extend(.setToZero);
          width: 100%;
          text-align: center;
          color: white;
          font-weight: 200;
          background-color: @color700;
          padding: 1.2em;
          outline: none;

          @media screen {
            @media (min-width: @triggerSideMenu) {
              display: none;
            }
          }
        }
      }

      & .main-content {
        &:extend(.setToZero);
        .block-border-box;
        float:left;
        width:100%;
        overflow: hidden;

        @media screen {
          @media (min-width: @triggerSideMenu) {
            float: none;
            width:auto;
            display: table-cell;
          }
        }

        & .file-container {
          .setToZero;
          .block-border-box;
          width: 96%;
          margin:2%;
          float:left;
          text-align: center;

          @media screen {
            @media (min-width: @widthImageBreak) {
               width:46%;
            }
          }

          @media screen {
            @media (min-width: @triggerSideMenu) {
              width:96%;
            }
          }

          @media screen {
            @media (min-width: @widthImageBreakBigger) {
              width:46%;
            }
          }

          @media screen {
            @media (min-width:@widthImageBreakEvenBigger) {
              width:29.33%;
            }
          }

          @media screen {
            @media (min-width:@widthImageBreakBiggest) {
              width:46%;
            }
          }

          @media screen {
            @media (min-width:@widthImageBreakBiggestofAll) {
              width:29.33%;
            }
          }

          & img {
            .setToZero;
            max-width: 95%;
          }

          & ul {
            .setToZero;
            .block-border-box;
            width:100%;
            list-style:none;

            & li {
              .roboto;
               font-size:0.7em;
              .setToZero;
              .block-border-box;
              width:100%;
              color:@color900;
              background-color: @color100;
            }
          }

          &::after {
            clear:both;
          }
        }

      }
      &::after {
        clear: both;
      }
    }
  }
}
