@color500: #8bc34a;
@color800: #558b2f;
@color700: #689F38;
@color200: #C5E1A5;
@color100: #DCEDC8;
@color900: #33691E;
@color50: #F1F8E9;

@colorA100: #CCFF90;
@colorA200: #B2FF59;
@colorA400: #FFEA00;
@colorA700: #FFD600;

@elemSizeSmall: 29.33%;
@elemSizeMedium: 46%;
@elemSizeBig: 96%;

@menu-width: 290px;

@triggerMargins: 1360px;
@triggerSideMenu: 700px;

@widthTriggerBigger: 1020px;
@widthTriggerBig: 850px;
@widthTriggerMedium: 660px;
@widthTriggerSmall: 345px;

@widthImageBreak:640px;
@widthImageBreakBigger:930px;
@widthImageBreakEvenBigger:1270px;
@widthImageBreakBiggest:1360px;
@widthImageBreakBiggestofAll:1580px;