@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto.eot');
  src: url('../fonts/Roboto.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto.woff2') format('woff2'), url('../fonts/Roboto.woff') format('woff'), url('../fonts/Roboto.ttf') format('truetype'), url('../fonts/Roboto.svg#icon') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto Italic.eot');
  src: url('../fonts/Roboto Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto Italic.woff2') format('woff2'), url('../fonts/Roboto Italic.woff') format('woff'), url('../fonts/Roboto Italic.ttf') format('truetype'), url('../fonts/Roboto Italic.svg#icon') format('svg');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto Bold.eot');
  src: url('../fonts/Roboto Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto Bold.woff2') format('woff2'), url('../fonts/Roboto Bold.woff') format('woff'), url('../fonts/Roboto Bold.ttf') format('truetype'), url('../fonts/Roboto Bold.svg#icon') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto Bold Italic.eot');
  src: url('../fonts/Roboto Bold Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto Bold Italic.woff2') format('woff2'), url('../fonts/Roboto Bold Italic.woff') format('woff'), url('../fonts/Roboto Bold Italic.ttf') format('truetype'), url('../fonts/Roboto Bold Italic.svg#icon') format('svg');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto Medium.eot');
  src: url('../fonts/Roboto Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto Medium.woff2') format('woff2'), url('../fonts/Roboto Medium.woff') format('woff'), url('../fonts/Roboto Medium.ttf') format('truetype'), url('../fonts/Roboto Medium.svg#icon') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto Medium Italic.eot');
  src: url('../fonts/Roboto Medium Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto Medium Italic.woff2') format('woff2'), url('../fonts/Roboto Medium Italic.woff') format('woff'), url('../fonts/Roboto Medium Italic.ttf') format('truetype'), url('../fonts/Roboto Medium Italic.svg#icon') format('svg');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto Light.eot');
  src: url('../fonts/Roboto Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto Light.woff2') format('woff2'), url('../fonts/Roboto Light.woff') format('woff'), url('../fonts/Roboto Light.ttf') format('truetype'), url('../fonts/Roboto Light.svg#icon') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto Light Italic.eot');
  src: url('../fonts/Roboto Light Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto Light Italic.woff2') format('woff2'), url('../fonts/Roboto Light Italic.woff') format('woff'), url('../fonts/Roboto Light Italic.ttf') format('truetype'), url('../fonts/Roboto Light Italic.svg#icon') format('svg');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto Thin.eot');
  src: url('../fonts/Roboto Thin.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto Thin.woff2') format('woff2'), url('../fonts/Roboto Thin.woff') format('woff'), url('../fonts/Roboto Thin.ttf') format('truetype'), url('../fonts/Roboto Thin.svg#icon') format('svg');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto Thin Italic.eot');
  src: url('../fonts/Roboto Thin Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto Thin Italic.woff2') format('woff2'), url('../fonts/Roboto Thin Italic.woff') format('woff'), url('../fonts/Roboto Thin Italic.ttf') format('truetype'), url('../fonts/Roboto Thin Italic.svg#icon') format('svg');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto Black.eot');
  src: url('../fonts/Roboto Black.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto Black.woff2') format('woff2'), url('../fonts/Roboto Black.woff') format('woff'), url('../fonts/Roboto Black.ttf') format('truetype'), url('../fonts/Roboto Black.svg#icon') format('svg');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto Black Italic.eot');
  src: url('../fonts/Roboto Black Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto Black Italic.woff2') format('woff2'), url('../fonts/Roboto Black Italic.woff') format('woff'), url('../fonts/Roboto Black Italic.ttf') format('truetype'), url('../fonts/Roboto Black Italic.svg#icon') format('svg');
  font-weight: 900;
  font-style: italic;
}
.roboto {
  font-family: 'Roboto', sans-serif;
}
.setToZero,
body,
body header,
body header h1,
body nav,
body nav ul,
body nav ul li,
body main,
body main .faxes-content,
body main .faxes-content .menu-months,
body main .faxes-content .menu-months .date-selector,
body main .faxes-content .menu-months .date-selector button,
body main .faxes-content .menu-months .date-selector ul,
body main .faxes-content .menu-months .date-selector ul li,
body main .faxes-content .menu-months .date-selector ul li a,
body main .faxes-content .menu-months .show-menu,
body main .faxes-content .main-content {
  margin: 0;
  padding: 0;
  border: 0;
}
.block-border-box,
body header,
body header h1,
body nav,
body nav ul,
body nav ul li,
body main,
body main .faxes-content .menu-months .date-selector,
body main .faxes-content .menu-months .date-selector button,
body main .faxes-content .menu-months .date-selector ul,
body main .faxes-content .menu-months .date-selector ul li,
body main .faxes-content .menu-months .date-selector ul li a,
body main .faxes-content .menu-months .show-menu {
  display: block;
  box-sizing: border-box;
}
.border-box-sizing,
body main .faxes-content,
body main .faxes-content .menu-months,
body main .faxes-content .main-content {
  box-sizing: border-box;
}
.margin-left-right-auto {
  margin-left: auto;
  margin-right: auto;
}
body {
  width: 100%;
  margin: 0;
  background-color: white;
}
@media screen and (min-width: 1260px) {
  body {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
}
body header {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: #8bc34a;
}
body header h1 {
  font-family: 'Roboto', sans-serif;
  color: white;
  width: 100%;
  font-size: 3rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.1em;
  padding: 1.2em 0.5em 0.7em 0.5em;
  text-transform: uppercase;
}
@media screen and (max-width: 660px) {
  body header h1 {
    text-align: center;
  }
}
body header h1 span {
  font-size: 1.3rem;
  font-weight: 300;
  font-style: italic;
  text-transform: none;
  letter-spacing: normal;
}
@media screen and (max-width: 660px) {
  body header h1 span {
    display: none;
  }
}
body nav {
  background-color: #558b2f;
}
body nav ul {
  list-style: none;
  width: 100%;
  overflow: hidden;
}
body nav ul li {
  font-family: 'Roboto', sans-serif;
  color: #F1F8E9;
  text-transform: uppercase;
  padding: 1.5em 2em 1.5em 2em;
  font-weight: 500;
  font-size: 0.85em;
  float: left;
}
body nav ul li.selected {
  color: #FFD600;
  border-bottom: 6px solid #FFD600;
}
body nav ul li:hover {
  background-color: #DCEDC8;
  color: #558b2f;
}
@media screen and (max-width: 325px) {
  body nav ul li {
    padding: 1.5em 1em 1.5em 1em;
  }
}
body nav ul::after {
  clear: both;
}
body main {
  width: 100%;
}
body main .faxes-content {
  display: table;
  width: 100%;
}
body main .faxes-content .menu-months {
  display: table-cell;
  width: 100%;
  float: left;
  background-color: #689F38;
}
@media screen and (min-width: 660px) {
  body main .faxes-content .menu-months {
    width: 30%;
  }
}
@media screen and (min-width: 850px) {
  body main .faxes-content .menu-months {
    width: 25%;
  }
}
@media screen and (min-width: 1020px) {
  body main .faxes-content .menu-months {
    width: 19%;
  }
}
body main .faxes-content .menu-months .date-selector {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.6em;
  display: none;
}
@media screen and (min-width: 660px) {
  body main .faxes-content .menu-months .date-selector {
    display: block;
  }
}
body main .faxes-content .menu-months .date-selector button {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  text-decoration: underline;
  width: 100%;
  background-color: #DCEDC8;
  color: #33691E;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 900;
  padding: 1em;
}
body main .faxes-content .menu-months .date-selector button:nth-of-type(1) {
  margin-bottom: 0.6em;
}
body main .faxes-content .menu-months .date-selector ul {
  list-style: none;
  width: 100%;
  padding-bottom: 0.5em;
}
body main .faxes-content .menu-months .date-selector ul li {
  width: 100%;
}
body main .faxes-content .menu-months .date-selector ul li a {
  font-family: 'Roboto', sans-serif;
  color: #33691E;
  background-color: #C5E1A5;
  text-align: left;
  text-decoration: none;
  padding: 1.2em;
  width: 100%;
}
body main .faxes-content .menu-months .date-selector ul li a::before {
  content: '>>>';
  padding: 0 0.3em;
}
body main .faxes-content .menu-months .date-selector ul li a:hover {
  color: #C5E1A5;
  background-color: #33691E;
}
body main .faxes-content .menu-months .show-menu {
  width: 100%;
  text-align: center;
  color: white;
  font-weight: 200;
  background-color: #689F38;
  padding: 1.2em;
}
body main .faxes-content .main-content {
  display: table-cell;
  width: 100%;
  float: left;
}
@media screen and (min-width: 660px) {
  body main .faxes-content .main-content {
    width: 70%;
  }
}
@media screen and (min-width: 850px) {
  body main .faxes-content .main-content {
    width: 75%;
  }
}
@media screen and (min-width: 1020px) {
  body main .faxes-content .main-content {
    width: 81%;
  }
}
body main .faxes-content::after {
  clear: both;
}
